.login_page_wrapper {
  padding-top: 64pt;
  background-image: linear-gradient(to right, #d5aefa, whitesmoke);
  min-height: 100vh;
}

.login_container {
  border-radius: 6pt;
  box-shadow: 0 0 20pt rgba(0, 0, 0, 0.1);
  background-color: whitesmoke !important;
}

.login_box {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20pt;
}
