@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --color-background: whitesmoke;
  --color-foreground: rgb(25, 25, 25);
  --color-app: rgb(114, 34, 175);
  --color-gray: rgb(236, 236, 236);
  --color-blue: rgb(44, 37, 107);

  --font-family: "Roboto Mono", serif;
  --font-optical-sizing: auto;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  margin-top: 45pt;

  font-family: var(--font-family) !important;
  font-optical-sizing: var(--font-optical-sizing);
}

li.MuiListItem-root {
  padding: 0 !important;
  margin-bottom: 20pt;
}

.page {
  display: flex;
  justify-content:center ;
  margin: 0pt auto;
}

.btn_outlined_default {
  color: var(--color-app) !important;
}

.btn_default {
  background-color: var(--color-app) !important;
}

.btn_disabled_default {
  background-color: var(--color-gray) !important;
}

.container_page {
  width: 960pt;

  @media (max-width: 1280px) {
    width: 100vw !important;
  }
}


.default_padding {
  padding: 20pt !important;

  @media (max-width: 768px) {
    padding: 10pt !important; 
  }
}



/* Temporário __________________________*/
button {
  background-color: var(--app-color);
  margin: 90px 30px;
  padding: 40px 80px;
  font-size: 40pt;
}

.temp_page_title {
  font-size: 100px;
  margin: 60pt;
  text-align: center;
}
