.avatar_image_profile {
  border: 2pt solid var(--color-foreground);
}

.container_profile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10pt;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}

.profile_complete {
  display: flex;
  gap: 20pt;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.profile_info {
  margin-top: 20pt;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    margin-top: 0pt;
    align-items: center;
    margin-bottom: 20pt;
  }
}

.user_name {
  font-size: 20pt;
  font-weight: bold;
}

.user_info {
  font-size: 12pt;
  font-weight: 600;
  margin-top: 10pt;
}

.btns_profile {
  display: flex;
  flex-direction: column;
  gap: 10pt;

  @media (max-width: 768px) {
    align-items: center;
  }
}

.btn_profile {
  font-size: 10pt;
  font-weight: 500;
  height: 30pt;
  width: 160pt;
  background-color: var(--color-app);

  &.edit {
    background-color: var(--color-app);
  }

  &.friends {
    background-color: var(--color-blue);
  }
}
